target/
reports/output/
!.mvn/wrapper/maven-wrapper.jar

*.pdf

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/pom.xml.bak
/change version scripts.txt
